@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,100&display=swap");

:root {
  --clr-primary: #1d91f0;
  --clr-primary-dark: #095d91;
  --clr-primary-bg: #87ceeb;
}

body {
  margin: 0;
  paddding: 0;
  background: linear-gradient(var(--clr-primary-bg), var(--clr-primary));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}
h2 {
  text-align: center;
}
.whiteline {
  margin: 4em;
}
/*1. Home */
.home {
  height: fit-content;
}

.quote {
  margin: 0.5em;
  margin-top: 4em;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.main__nav {
  background-color: #222;
  height: 250px;
  text-align: center;
  height: max-content;
  padding: 2em;
}

.links {
  font-size: 2.5rem;
  margin: auto;
  padding: 0.3em;
  color: rgb(211, 211, 211);
}

.links:hover {
  color: var(--clr-primary-bg);
}

/* 2. About Me*/
.aboutme {
  text-align: center;
}

.aboutme img {
  border-radius: 50%;
  width: 247.2px;
  height: 295.5px;
}

/* 3. Portfolio*/

.projects_container {
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 1rem;
}
.project {
  border: solid 0.25em white;
  cursor: pointer;
  margin: 1em;
}
.project:hover {
  opacity: 0.8;
}

#showroom {
  text-align: center;
  margin: 0;
}
.showroom__text {
}

#calculator {
  text-align: center;
  margin: 0;
}
#adventure {
  text-align: center;
  margin: 0;
}
